노트북의 셀은 코드(Y), 막다운(M) 두가지를 사용합니다. 셀 실행은 쉬프트+엔터키 입니다.

In [ ]:
3 + 5

In [ ]:
a = 10

a에 2를 빼서 다시 a에 입력합니다.

In [ ]:
a -= 2

In [ ]:
print(a)

노트북에서는 변수만 입력하면 값이 프린트 됩니다.

In [ ]:
a

a에 2를 곱해 다시 a에 입력합니다.

In [ ]:
a *= 2

In [ ]:
a

a를 2로 나누어 다시 a에 입력합니다.

In [ ]:
a /= 2

In [ ]:
a

a에 2를 제곱해 다시 a에 입력합니다.

In [ ]:
a **= 2

In [ ]:
a

a를 3으로 나눈 몫을 구해 다시 a에 입력합니다.

In [ ]:
a //= 3

In [ ]:
a

a를 4로 나눈 나머지를 구해 다시 a에 입력합니다.

In [ ]:
a %= 4

In [ ]:
a

- 2진수는 숫자 앞에 '0b', '0B' 를 붙입니다.
- 8진수는 숫자 앞에 '0o', '0O' 를 붙입니다.
- 16진수는 숫자 앞에 '0x', '0X' 를 붙입니다.

In [ ]:
0b10

In [ ]:
0o10

In [ ]:
0x10

int와 float 간의 형변환은 int() 함수와 float() 함수를 사용합니다.

In [ ]:
int(3.5)

In [ ]:
float(3)

변수에 담을 수 있는 숫자값의 크기에 제한이 없습니다.

In [ ]:
googol = 10 ** 100

In [ ]:
googol

In [ ]:
googol * googol